@model Layqa.Web.Areas.Admin.Models.ArticleFormViewModel
@using Layqa.Service.Util
@{
    var image = XMLReader.GetValue(Model.XmlParams, "image");
}
<div class="form-group">
    @Html.Label("Imagen", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBox("XmlParams_image", image, new { @class = "form-control" })
    </div>
</div>
