@model Layqa.Web.Areas.Admin.Models.ArticleFormViewModel
@{
    
}

<div class="form-group">
    @Html.LabelFor(model => model.Resumen, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextAreaFor(model => model.Resumen)
        @Html.ValidationMessageFor(model => model.Resumen, "", new { @class = "text-danger" })
    </div>
</div>
